* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(to bottom right, #00203f, #adefd1);
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: white;
}

.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

button#equal {
  height: 130px;
}

/* Light Theme Buttons */
.calculator button#clear {
  background-color: #adefd1; /* Complementary green shade */
  color: #00203f;
}

.calculator button.btn-number {
  background-color: #a6d9e7; /* Light aqua shade */
  color: #00203f;
}

.calculator button.btn-operator {
  background-color: #e6f4f1; /* Subtle light greenish tone */
  color: #00203f;
}

.calculator button.btn-equal {
  background-color: #adefd1; /* Match gradient green tone */
  color: #00203f;
}

/* Dark Theme Buttons */
.calculator.dark {
  background-color: #071115;
}

.calculator.dark #display {
  color: #f8fafb;
}

.calculator.dark button#clear {
  background-color: #2a405b; /* Darker navy tone */
  color: #adefd1;
}

.calculator.dark button.btn-number {
  background-color: #35495d; /* Muted navy shade */
  color: #adefd1;
}

.calculator.dark button.btn-operator {
  background-color: #405a72; /* Soft blue-gray tone */
  color: #adefd1;
}

.calculator.dark button.btn-equal {
  background-color: #2a405b; /* Dark navy shade */
  color: #adefd1;
}

@media (max-width: 480px) {
  #display {
    height: 80px;
    font-size: 18px;
  }

  button {
    height: 50px;
    width: 50px;
    font-size: 16px;
  }

  button#equal {
    height: 110px;
  }
}
